<div class="container p-5">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card" style="max-width: 800px; background-color: #EDF9EB;">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <label for="fnname" class="form-label"><b>First Name:</b></label>
                            <input type="text" id="fnname" class="form-control" placeholder="Enter your First Name">
                        </div>
                        <div class="col">
                            <label for="lnname" class="form-label"><b>Last Name:</b></label>
                            <input type="text" id="lnname" class="form-control" placeholder="Enter your Last Name">
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <label for="countrySelect"><b>Select Country:</b></label>
                            <div class="dropdown">
                                <button class="btn custom-button countrySelect dropdown-toggle mt-1" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">{{ selectedCountry || 'Country' }}</button>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item" *ngFor="let code of countryCodes" 
                                    (click)="selectedCode(code)">{{code.country}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <label for="phone" class="form-label"><b>Phone Number:</b></label>
                            <input type="number" id="phone" class="form-control" placeholder="Enter your Phone number">
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <label for="qn1" class="form-label"><b>What other products should we offer?</b></label>
                            <input type="text" id="qn1" class="form-control">
                        </div>
                        <div class="col">
                            <label for="qn2" class="form-label"><b>Where exactly did you first find out about us?</b></label>
                            <div class="dropdown">
                                <button class="btn custom-button qn2 dropdown-toggle mt-1" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">{{ selectedFind || 'Select'}}</button>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item" *ngFor="let find of findus" (click)="toFind(find)">{{find}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <label><b> Based on today's visit, how would you rate your site experience overall?</b></label>
                            <div class="d-flex justify-content-between">
                                <label *ngFor="let emoticon of emoticons" class="emoticon-radio">
                                    <input type="radio" name="emoticon" [value]="emoticon.value"
                                        [(ngModel)]="selectedEmoticon">
                                    <span class="emoticon">{{ emoticon.icon }}</span>
                                    <span>{{emoticon.value}}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <button type="button" class="btn btn-primary ">Send</button>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>