 <nav class="navbar navbar-expand" style="background-color: rgba(8, 161, 8, 0.281);">
    <div class="container-fluid">
        <a class="navbar-brand" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><b>Nature's
                Pantry</b></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
            <button class="btn btn-outline-success mx-2" type="button" data-bs-toggle="modal"
                data-bs-target="#additemModal">Add Item</button>
        </div>
    </div>
</nav>


<div class="modal" id="additemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Log In</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="additemForm">
                <div class="modal-body">
                    <div class="col">
                        <div class="mb-3">
                            <label for="category" class="form-label">Category</label>
                            <select class="form-select"
                                [ngClass]="{'is-invalid':additemForm.controls['category'].invalid && additemForm.controls['category'].touched}"
                                id="category" formControlName="category" aria-label="Select Category" required>
                                <option selected disabled>Select Category</option>
                                <option value="Fruit">Fruit</option>
                                <option value="Vegetable">Vegetable</option>
                                <option value="Diary">Diary</option>
                                <option value="Baked goods">Baked goods</option>
                                <option value="Meat">Meat</option>
                                <option value="Herbs">Herbs</option>
                            </select>
                            <div class="invalid-feedback">Select the category</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="Name" class="form-label">Product Name</label>
                            <input
                                [ngClass]="{'is-invalid':additemForm.controls['Name'].invalid && additemForm.controls['Name'].touched}"
                                type="text" class="form-control" id="Name" formControlName="Name"
                                placeholder="Enter the product name" required>
                            <div class="invalid-feedback"> Enter the item name</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="imageurl" class="form-label">Image</label>
                            <input
                                [ngClass]="{'is-invalid':additemForm.controls['imageurl'].invalid && additemForm.controls['imageurl'].touched}"
                                type="text" class="form-control" id="imageurl" formControlName="imageurl"
                                placeholder="Attach the imageUrl" required>
                            <div class="invalid-feedback"> Attach the imageUrl</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="price" class="form-label">Price</label>
                            <input
                                [ngClass]="{'is-invalid':additemForm.controls['price'].invalid && additemForm.controls['price'].touched}"
                                type="text" class="form-control" id="price" formControlName="price"
                                placeholder="Enter the price" required>
                            <div class="invalid-feedback"> Enter the price</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="unit" class="form-label">Unit</label>
                            <input [ngClass]="{'is-invalid':additemForm.controls['unit'].invalid && additemForm.controls['unit'].touched}"
                             type="text" class="form-control" id="unit" formControlName="unit"
                             placeholder="" required>
                             <div class="invalid-feedback">Enter the unit</div>
                        </div>
                    </div>
                </div>
                <!-- <div>
                    <input type="file" (change)="toUpload($event)">
                </div> -->
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="toAddItem()">Add</button>
            </div>
        </div>
    </div>
</div>


<!-- <div class="card">
    <div class="card-body" appBgColor>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe magni molestias eos fugit ratione vero? Et totam
        temporibus voluptatem corporis, modi dignissimos dicta quisquam similique, optio voluptate, soluta quidem
        voluptas!
    </div>
</div>
 Modal for adding item -->

 <div class="container">
    <div class="row">
        <div class="col col-md-4 d-flex justify-content-center align-items-center" *ngFor="let product of products">
            <div class="card shadow mx-5 mt-5" style="width: 18rem;">
                <div class="card-body text-center">
                    <h3 style="text-align:center; font-family:Arial, Helvetica, sans-serif; font-style: italic;"><b>
                            {{product.Name}}</b></h3>
                    <img [src]="product.imageurl" class="card-img-top" alt="..."  height="400px" width="200px"
                    style="object-fit: contain;">
                    <p class="text-center"><em>{{product.price | currency:'INR'}} ({{product.unit}})</em></p>
                    <p class="text-center"><em>{{product.id}}</em></p>
                    <a class="btn btn-primary mx-2" (click)="toRemove(product.id)">Remove</a>
                </div>
            </div>
        </div>
    </div>
</div> 
<router-outlet></router-outlet>