<div class="container-fluid">
    <div class="row">
        <div class="col-9 column">
            <div class="row">
                <div class="col col-md-4 d-flex justify-content-center align-items-center"
                    *ngFor="let cart of cartData; let i = index">
                    <div class="card shadow mx-5 mt-5" style="width: 18rem;">
                        <div class="card-body text-center">
                            <h3
                                style="text-align:center; font-family:Arial, Helvetica, sans-serif; font-style: italic;">
                                <b>
                                    {{cart.Name}}</b>
                            </h3>
                            <img [src]="cart.imageurl" class="card-img-top" alt="..." height="400px" width="200px"
                                style="object-fit: contain;">
                            <p class="text-center"><em>{{cart.price| currency:'INR'}} ({{cart.unit}})</em></p>
                            <div>
                                <label for="numberInput">Number of Items : </label>
                                <select name="" class="mx-2" id="numberInput" (change)="quantity($event,i)"
                                    [value]="cart.quantity">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <!-- <div class="number-input-row justify-content-center mb-2">
                                <button class="btn btn-danger"(click)="decreaseNumber()" style="width:20px">-</button>
                                <input type="number" id="numberInput" [(ngModel)]="numberValue" name="numberValue" style="width: 40px; height:35px;border-radius: 5px;">
                                <button class="btn btn-success" (click)="increaseNumber()" style="width:20px">+</button>
                            </div> -->
                            <a class="btn btn-primary" (click)="removeCart(i)">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 column">
            <div class="card mt-5">
                <div class="card-header text-center">Total Products</div>
                <div class="card-body" *ngFor="let cart of cartData">
                    <div class="row">
                        <div class="col">
                            <h4 style="font-family:Arial; font-style: italic;"><b>{{cart.Name}}</b></h4>
                        </div>
                        <div class="col">
                            <p class="text-center"><em>{{cart.totalPrice | currency:'INR'}}</em></p>
                        </div>
                        <div class="col">
                            <p class="text-center">({{cart.quantity}}{{cart.unit}})</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-success">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</div>