<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8 column">
            <div class="row">
                <div class="col col-md-4 d-flex justify-content-center align-items-center"
                    *ngFor="let cart of cartData; let i = index">
                    <div class="card shadow mx-5 mt-5" style="width: 18rem;">
                        <div class="card-body text-center">
                            <h3
                                style="text-align:center; font-family:Arial, Helvetica, sans-serif; font-style: italic;">
                                <b>
                                    {{cart.Name}}</b>
                            </h3>
                            <img [src]="cart.imageurl" class="card-img-top" alt="..." height="400px" width="200px"
                                style="object-fit: contain;">
                            <p class="text-center"><em>{{cart.price| currency:'INR'}} ({{cart.unit}})</em></p>
                            <div>
                                <label for="numberInput">Quantity: </label>
                                <select name="" class="mx-2 custom" id="numberInput" (change)="quantity($event,i)"
                                    [value]="cart.quantity">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <a class="btn btn-primary mt-2" (click)="removeCart(i)">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 column order-md-last">
            <div class="card mt-5">
                <div class="card-header text-center" style="color: #D2042D; font-style: italic;font-family: monospace;">
                    <b>Total Products</b>
                </div>
                <div class="card-subheader mt-2">
                    <div class="row text-center">
                        <div class="col-2">
                            <h5>Si.No</h5>
                        </div>
                        <div class="col-4">
                            <h5>Product</h5>
                        </div>
                        <div class="col-3">
                            <h5>Price</h5>
                        </div>
                        <div class="col-3">
                            <h5>Qty</h5>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="card-body" *ngFor="let cart of cartData; let i = index">
                    <div class="row text-center">
                        <div class="col-2"><b>{{i+1}}</b></div>
                        <div class="col-4">
                            <h5 style="font-family:monospace; font-style: italic;"><b>{{cart.Name}}</b></h5>
                        </div>
                        <div class="col-3">
                            <p><em>{{cart.totalPrice | currency:'INR'}}</em></p>
                        </div>
                        <div class="col-3">
                            <p>({{cart.quantity}} {{cart.unit}})</p>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="row text-center">
                    <div class="col-2"></div>
                    <div class="col-4" style="font-size: 20px; color: rgb(202, 202, 24);"><b>Total Amount:</b></div>
                    <div class="col-3"> <p><em>{{ grandTotal() | currency:'INR' }}</em></p></div>
                    <div class="col-3"></div>
                </div>
                <div class="card-footer text-center" style="background-color:#E8E8E8;">
                    <button class="btn btn-success" routerLink="/buynow">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</div>