<div class="container" *ngIf="routeParams$ | async">
    <div class="row" *ngIf="products.length">
        <div class="col col-md-4 d-flex justify-content-center align-items-center" *ngFor="let product of products">
           <!-- {{log(product)}} -->
            <div class="card shadow mx-5 mt-5"  style="width: 18rem;">
                <div class="card-body text-center" >
                    <h3 style="text-align:center; font-family:Arial, Helvetica, sans-serif; font-style: italic;"><b>
                            {{product.Name}}</b></h3>
                    <img [src]="product.imageurl" class="card-img-top" alt="..." height="400px" width="200px"
                        style="object-fit: contain;">
                    <p class="text-center"><em>{{product.price | currency: 'INR'}} ({{product.unit}})</em></p>
                    <!-- <div>{{product.id}}</div> -->
                    <a class="btn btn-primary mx-2" routerLink="/buynow">Buy Now</a>
                    <a class="btn btn-primary" (click)="addingToCart(product)">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>