<nav class="navbar navbar-expand" style="background-color: rgba(8, 161, 8, 0.281);"
    *ngIf="current.nav === true">
    <div class="container-fluid">
        <a class="navbar-brand" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><b>Nature's
                Pantry</b></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="current?.data === 'home'">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" routerLink="/home">Home</a>
                </li>
                <li class="nav-item" *ngIf="current.data === 'home'">
                    <a class="nav-link" (click)="showOffcanvas()">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/feedback">Feedback</a>
                </li>
            </ul>
            <div>
                <button class="btn btn-outline-success mx-2" type="button" *ngIf="current?.data === 'home'"
                    (click)="current.admin = ''; current.nav = true ; current.data = 'home'" routerLink="cart/:id">Cart</button>
                <button class="btn btn-outline-success mx-2" *ngIf="current?.data === 'home'" type="button"
                    (click)="current.data = ''; current.nav = false" routerLink="">Log Out</button>
                <!-- {{log(current.data)}} -->
            </div>
        </div>
    </div>
</nav>
<!-- offcanvas for categories option -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title mt-5" id="offcanvasExampleLabel" style="color:rgb(191, 202, 34);font-weight: bolder;
        font-size: xx-large;text-shadow: 5px 3px 3px rgba(0, 0, 0, 0.5);">Product
            Categories</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <hr>
    <div class="offcanvas-body" style="font-size: x-large;">
        <ul class="bulletin mt-5 " style="font-weight: bolder;">
            <li class="" *ngFor="let type of types" (click)="goCategory(type.value)" style="cursor: pointer;"><u>{{type.category}}</u></li>
        </ul>
    </div>
</div>
<!-- <div>
    <p [style.color]="changeColor ? 'red' : ''" (click)="changeColor=true">Date and Time: {{ '19-06-2023' |
        currentDateTime
        }}</p>
</div> -->
<!-- Button trigger modal -->
<router-outlet></router-outlet>