<div class="container-fluid">
  <div class="row mb-0">
    <marquee class="marquee mb-3 mt-5" scrollamount="8" style="font-weight: bolder;color:red">
      <h1><i>"Let medicine be the food, the food shall be Nature's Pantry's food"</i></h1>
    </marquee>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="container">
        <img src="../../assets/natures-pantry-24-hour-comfort-kit.jpg" class="mt-4" [@imageAnimation]>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container mt-5">
        <header class=" heading mb-5">Unleashing the power of Nature's Pantry</header>
        <ul class="list-group" style="font-style: oblique; font-size: 25px;" [@slideUpAnimation]>
          <li>Nature's Pantry is an innovative online platform that sprouted to life on June 28, 2023.</li>
          <li>Our virtual doors opened with the mission to bring the wonders of nature's bounty directly to your
            fingertips.</li>
          <li>As a dedicated online destination, we offer a vast selection of wholesome and organic products, carefully
            curated to support your journey towards a healthier lifestyle. </li>
          <li>we provides a convenient and sustainable shopping experience, enabling you to embrace nature's
            goodness from the comfort of your own home. </li>
          <li>Discover the perfect balance of health and sustainability with Nature's Pantry, your trusted companion on
            the path to wellbeing.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <h3 class="text-center text-muted mt-2 mb-4">Contact Us</h3>
    <div class="text-center">
      <a  class="mx-3"href="https://www.linkedin.com/feed/?trk=seo-authwall-base_google-one-tap-submit" target="_blank">
        <img src="../../assets/linkedin.svg" alt="" width="40px" height="40px"></a>
      <a class="mx-3"href="https://www.google.com/maps/place/Adaptive+Media/@8.6661213,77.7162391,16.12z/data=!4m6!3m5!1s0x3b04120e8a23257b:0x9b168fc9769f8144!8m2!3d8.666579!4d77.7180804!16s%2Fg%2F11f3f9rd_0?entry=ttu"
        target="_blank">
        <img src="../../assets/geo-alt-fill.svg" alt="" width="40px" height="40px"></a>
      <a class="mx-3"href="" target="_blank">
        <img src="../../assets/phone-vibrate.svg" alt="" width="40px" height="40px">
      </a>
      <a href="https://github.com/Abbuthahir" target="_blank">
        <img src="../../assets/github.svg" alt="" width="40px" height="40px"></a>
    </div>
  </div>
</div>