<!-- <app-navbar></app-navbar> -->

<!-- <div class="container">
    <div class="row">
        <div class="col col-md-4 d-flex justify-content-center align-items-center"
            *ngFor="let product of products">
            <div class="card shadow mx-5 mt-5" style="width: 18rem;">
                <div class="card-body">
                    <h3 style="text-align:center; font-family:Arial, Helvetica, sans-serif; font-style: italic;"><b>
                            {{product.Name}}</b></h3>
                    <img [src]="product.imageurl" class="card-img-top mx-4" alt="..." style="height: 300px; width: 200px;">
                    <p class="text-center"><em>{{product.price}}</em></p>
                    <div>{{product.id}}</div>
                    <a class="btn btn-primary mx-2">Buy Now</a>
                    <a class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div> -->



<div class="row">
  <div class="col">
    <marquee class="marquee mb-3 mt-5"scrollamount="8" style="font-weight: bolder;color:rgb(191, 202, 34)">
      <h1><i>"Let medicine be the food, the food  shall be Nature's Pantry's food"</i></h1>
    </marquee>
    <img src="../../assets/natures-pantry-24-hour-comfort-kit.jpg" class="mt-4">
  </div>
  <div class="col">hello</div>
</div>