.heading{
    text-align: center;
    font-size: 30px;
    font-family: monospace;
    font-weight: bolder;
    font-style: italic;
    background: -webkit-linear-gradient(rgb(66, 170, 244), rgb(15, 32, 126));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}